div.title {
	margin-top: 5px;
	padding: 10px;
	color: white;
	background: green
}

div.context {
	padding: 5px;
	//border-style: solid;
	//border-color: green;
	//border-width: 2px;
}

div.hint {
	padding-top: 5px;
	padding-bottom: 5px;
	color: blue;
	font-style: italic;
}

div.show {
	font-size: 30px;
}

img.icon {
	height: 30px;
}